body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1{
	font-size: 3em;
	color:#e3dbdb;
}
.btn{
	border-radius: 300px;
	padding: 1em 2em;
}
.btn:hover{
	border-width: 4px;
}
hr{
	border: 3px solid #dc3545;
	border-radius: 10px;
	max-width:100px;
}
.buffer{
	height: 120px;
}